@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.box1 {
    background-color: #fdba74;
    color: white;
    font-family: "Roboto";
    height: 100px;
    width: 100px;
}

.box2 {
    background-color: #ea580c;
    color: white;
    font-family: "Roboto";
    height: 100px;
    width: 100px;
}

.box3 {
    background-color: #a5b4fc;
    color: white;
    font-family: "Roboto";
    height: 100px;
    width: 100px;
}

.box4 {
    background-color: #4f46e5;
    color: white;
    font-family: "Roboto";
    height: 100px;
    width: 100px;
}

.box5 {
    background-color: #5eead4;
    color: white;
    font-family: "Roboto";
    height: 100px;
    width: 100px;
}

.box6 {
    background-color: #0d9488;
    color: white;
    font-family: "Roboto";
    height: 100px;
    width: 100px;
}